@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

body::before {
  content: "";
  background-image: url("./images/bg-top.svg");
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-position: top right;
  z-index: -1;
}

body::after {
  content: "";
  background-image: url("./images/bg-bottom.svg");
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-position: bottom left;
  z-index: -1;
}
.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsl(233, 13%, 49%);
}

.toggle-container {
  display: flex;
  color: hsl(234, 14%, 74%);
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /* margin-top:10px; */
}

.adjust {
  margin-bottom: 30px;
  /* margin-top:10px; */
}

.price-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;

  color: hsl(233, 13%, 49%);
  min-width: 320px;
}

.price-box p {
  font-size: 4em;
  margin: 15px 0;
  color: hsl(232, 13%, 33%);
}
.price-box .monthly {
  display: none;
}

.show-monthly .price-box .monthly {
  display: block;
}

.show-monthly .price-box .annually {
  display: none;
}

.price-box ul {
  padding: 0;
  list-style-type: none;
  border-top: 1px solid hsl(234, 14%, 74%);

  font-size: 14px;
}
.price-box ul li {
  padding: 15px 0;
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

.price-box h3 {
  margin: 0;
}

.price-box button {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #ffff;
  padding: 15px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid black;
}

.price-box.price-box-primum {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  transform: scale(1.15);
}



.price-box.price-box-primum * {
  transform: scale(0.869);
}

.price-box.price-box-primum button {
  background-image: none;
  background-color: #ffff;
  color: hsl(237, 63%, 64%);
}

.price-box.price-box-primum ul {
  border-color: rgb(red, green, blue);
}
.price-box.price-box-primum ul li {
  border-color: rgb(red, green, blue);
}

.price-box.price-box-primum p {
  /* border-color: rgb(red, green, blue); */
  color: #ffff;
}

input[type="checkbox"] {
  position: relative;
  width: 55px;
  height: 30px;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  outline: none;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  top: 2px;
  left: 3px;
  /* justify-content: center; */
  background: #ffff;
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 27px;
}

@media screen and (max-width: 930px) {
  .flex {
    flex-direction: column;
  }
  .price-box.price-box-primum {
    transform: scale(1);
  }
  .price-box.price-box-primum * {
    transform: scale(1);
  }
  body::before {
    content: "";
    background-image: url("./images/bg-top.svg");
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    /* left:190px; */
    height: 100%;
    width: 100%;
    background-position: top right -190px;
    z-index: -1;
  }
    body::after {
        content: "";
        background-image: url("./images/bg-bottom.svg");
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-position: bottom left;
        z-index: -1;
        opacity: 0%;
      }

}

.toggle-container input:hover {
  opacity: 70%;
}

.price-box button:hover {
  background: #ffff;
  color: hsl(237, 63%, 64%);
  border: 1px solid black;
}

.price-box.price-box-primum button:hover{
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
      );
  color:white;
  border: 1px solid black;
}
